/* 背景が白い物 */
/* 背景色を変える */
.card-content{
    background-color: #ffffffCC;
}

/* セクションのスタイル */
/* 背景に画像を挿入する */
#concept{
    background-color: #ffffff;
}
#works{
    background-color: #333;
}
#event{
    background-image: url('../img/works_08.jpg');
}
#blog{
    background-color: #ffffff;
}
#contact{
    background-image: url("../img/works_10.jpg")
}


/* ボタンのスタイル */
/* 文字色を変える */
.red-btn{
    background-color: #820000;
    color: #ffffff;
}
.black-btn{
    background-color: #333;
    color: #ffffff;
}
.white-btn{
    background-color: #ffffff;
    color: #333;
}

/* テキストサイズ */
/* フォント */
/* 文字色 */
h2, h3{
    font-family: "Shippori Mincho", serif;
    color: #333;
}
p,time{
    font-family: "Noto Sans JP", sans-serif;
}
h2{
    font-size: 32px;
    font-weight: bold;
}
h3{
    font-size: 24px;
    font-weight: medium;
}
p{
    font-size: 16px;
}
time{
    font-size: 14px;
}